body { font-family: "Lato"; font-weight: 400; margin: 0; padding: 0; background: #f0f0f0;}
#anim-container { background: rgba(0,0,0,.50); width: 100%; height: 100%; position: fixed; display: none;}
#loading { width: 128px; height: 128px; background: url(../images/loading.gif); margin: 100px auto; }
#script-container {
width: 90%;
margin: 10px auto;
border: 1px solid #000;
background: #fff;
padding: 10px;
border-radius: 6px;
}

h4 { clear: both; margin: 10px 0 10px; padding-top: 10px;}

#tabcon ul, #tabcon li { list-style-type: none; padding: 0; margin: 0;}

#tabcon li {  
width: 90px;
display: block;
color: #000;
float: left;
text-align: center;
padding: 10px 0;
background: #f2f5f6;
background: -moz-linear-gradient(top,  #f2f5f6 0%, #e3eaed 37%, #c8d7dc 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f2f5f6), color-stop(37%,#e3eaed), color-stop(100%,#c8d7dc));
background: -webkit-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -o-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: -ms-linear-gradient(top,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
background: linear-gradient(to bottom,  #f2f5f6 0%,#e3eaed 37%,#c8d7dc 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 );
border-right:1px solid #000;
font-size: .75em;
cursor: pointer;

}

#tabcon li:hover {

background: #93cede;
background: -moz-linear-gradient(top,  #93cede 0%, #75bdd1 41%, #49a5bf 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#93cede), color-stop(41%,#75bdd1), color-stop(100%,#49a5bf));
background: -webkit-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: -o-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: -ms-linear-gradient(top,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
background: linear-gradient(to bottom,  #93cede 0%,#75bdd1 41%,#49a5bf 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#93cede', endColorstr='#49a5bf',GradientType=0 );


}

#tabcon {
background: #066dab;
background: -moz-linear-gradient(top,  #066dab 0%, #8abbd7 69%, #96cee8 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#066dab), color-stop(69%,#8abbd7), color-stop(100%,#96cee8));
background: -webkit-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#96cee8 100%);
background: -o-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#96cee8 100%);
background: -ms-linear-gradient(top,  #066dab 0%,#8abbd7 69%,#96cee8 100%);
background: linear-gradient(to bottom,  #066dab 0%,#8abbd7 69%,#96cee8 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#066dab', endColorstr='#96cee8',GradientType=0 );
overflow: hidden;
border: 1px solid #000;

}

#tabs { margin-top: 10px;}

.hidden { display: none; }
.show { display: block;}

.insertedVariable { 

font-weight: bolder;
background: yellow;
}

.form { width: 700px; overflow: hidden; }
.form label {
     background: none repeat scroll 0% 0% #3c6cab;
     color: #fff;
     clear: both;
     display: block;
     float: left;
     margin: 0px 5px 5px 0px;
     padding: 5px 10px 5px 0px;
     text-align: right;
     width: 250px;
}

.form input {
     display: block;
     float: left;
     border: 1px solid #ccc;
     background: #f4f4f4;
     padding: 6px;
     width: 300px;
     border-radius: 3px;
}

.form select {
     display: block;
     float: left;
     border: 1px solid #ccc;
     background: #f4f4f4;
     padding: 6px;
     width: 315px;
     border-radius: 3px;
}

input[type="checkbox"] {
     display: inline-block;
     width: 16px;
     position: relative;
     top: 5px;
}

input[type="radio"] {
     display: inline-block;
     width: 16px;
     position: relative;
     top: 5px;
}

.checkboxes label { 

  display: block;
  float: left;
  clear: none;
  width: auto;
  background: none;
  font-size: .85em;
  color: #222;

}